<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container" id="head">


		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-4" align="center">{{ name }}</h1>
		    
		  </div>
		</div>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			<h2>INFO</h2>
			<div class="container">
			<p>	     Genre: {{ genre }} </p>
			<p>	     Production House: {{ phouse }} </p>
			<p>	     IMDB Rating: {{ imdb }}</p>
			<p>	     Duration: {{ duration }}</p>
			</div>
			</div>
		</div>
		<h1>Actors:</h1>
		<div class="list-group list-group-horizontal">
		  <!-- <a href="#" class="list-group-item list-group-item-action">
		    <div class="card">
		      <img src="{{ url_for('static', filename='images/actor.jpg') }}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" align="center">Artist Name</h5>
		      </div>
		    </div>
		  </a>
		  </a>
		</div> -->
		{{ artist_embed | safe }}
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>