<!DOCTYPE html>
<html>
<head>
	<title>{{ name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container" id="head">
		<div class="pos-f-t">
		  <div class="collapse" id="navbarToggleExternalContent">
		    <div class="bg-dark p-4">
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Upload Movie</button>
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Edit Profile</button>
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Log Out</button>
		    </div>
		  </div>
		  <nav class="navbar navbar-dark bg-dark">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <h3 align="right" style="color:white;">Rank: 5/9</h3>
		  </nav>
		</div>
		<div class="jumbotron">
				<div class="container" id="head">
					<h1 align="center">{{name}}</h1>
				</div>
			
		</div>
<!-- 		<div class="row">
			<div class="col-6">
				<div id="chart">
				   <embed type="image/svg+xml" src= {{ chart1|safe }} />
				</div>
			</div>
			<div class="col-6">
				<div id="chart">
				   <embed type="image/svg+xml" src= {{ chart2|safe }} />
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-6">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Genre</th>
				      <th scope="col">Rating</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr>
			  	      <td>Genre1</td>
			  	      <td>8.2</td>
				  	</tr>
				  	<tr>
			  	      <td>Genre1</td>
			  	      <td>8.2</td>
				  	</tr>
				  	<tr>
			  	      <td>Genre1</td>
			  	      <td>8.2</td>
				  	</tr>
				  	<tr>
			  	      <td>Genre1</td>
			  	      <td>8.2</td>
				  	</tr>
				  </tbody>
				</table>

			</div>
			<div class="col-6">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action active">Movies</a>
				  {{ Movies_embed }}
				  <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> -->
				</div>
			</div>
		</div>
		<ul class="list-group">
		  <li class="list-group-item active"> Upcoming Movies</li>
		  <li class="list-group-item">Dapibus ac facilisis in</li>
		  <li class="list-group-item">Morbi leo risus</li>
		  <li class="list-group-item">Porta ac consectetur ac</li>
		  <li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>
