<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Your Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container" id="head">
		<div class="pos-f-t">
		  <div class="collapse" id="navbarToggleExternalContent">
		    <div class="bg-dark p-4">
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Make Payment</button>
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Edit Profile</button>
		      <button type="button" class="btn btn-secondary btn-lg btn-block">Log Out</button>
		    </div>
		  </div>
		  <nav class="navbar navbar-dark bg-dark">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <h3 align="right" style="color:white;">Time Spent: {{hours}} hrs</h3>
		  </nav>
		</div>
		<div class="jumbotron">
				<div class="container" id="head">
					<h1>{{ name }}</h1>
					<h4 style="text-align: left;">LoginId:{{LoginID}}</h4>
				</div>
			
		</div>
		<!-- <div class="jumbotron">
			<div class="list-group list-group-horizontal">
				<a href="#" class="list-group-item list-group-item-action">
					<h1>Name here</h1>
					<h4 style="text-align: left;">LoginId:123</h4>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<h3>Average</h3>
					<h4>Watch Time</h4>
					<h2>24 Hrs/day</h2>
				</a>
			</div>
		</div> -->
		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	    		<span class="input-group-text">Search for a movie:</span>
	  		</div>
	  		<input type="text" class="form-control" aria-label="SearchMovieName">
	  		<div class="input-group-append">
	    		<button class="btn btn-outline-secondary" type="button" id="button-addon2">Go</button>
	  		</div>
		</div>


		<div class="list-group list-group-horizontal">
		  <a href="#" class="list-group-item list-group-item-action">
		    <div class="card">
		      <img src="{{ url_for('static', filename='images/poster.jpg') }}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Movie Name</h5>
		        <p class="card-text">Rating: 7.2 | IMDB: 7.8</p>
		      </div>
		    </div>
		  </a>
		  </a>
		  <a href="#" class="list-group-item list-group-item-action">
		    <div class="card">
		      <img src="{{ url_for('static', filename='images/poster.jpg') }}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Movie Name</h5>
		        <p class="card-text">Rating: 7.2 | IMDB: 7.8</p>
		      </div>
		    </div>
		  </a>
		  <a href="#" class="list-group-item list-group-item-action">
		      <div class="card">
		        <img src="{{ url_for('static', filename='images/poster.jpg') }}" class="card-img-top" alt="...">
		        <div class="card-body">
		          <h5 class="card-title">Movie Name</h5>
		          <p class="card-text">Rating: 7.2 | IMDB: 7.8</p>
		        </div>
		      </div>
		    </a>
		  </a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	
	
</body>
</html>